//Título de la sección de productos

.tituloProd {

    text-align: center;
    text-transform: uppercase;
    font-family: var(--titles-font);
    padding: var(--space-l);
    font-size: xx-large;

}

//Grid de la sección de productos

.products {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--space-l);
    width: 50%;
    margin: 0px auto;

}

.products .item5 {

    grid-column: 2 / span 2;

}

.products .item9 {

    grid-column: 1 / span 2;

}

//Estilo de los productos

.products img {

  object-fit: cover;
  width: 350px;
  height: 150px;
  margin: var(--space-m) 0px;

}

.datos {

    display: flex;
    flex-flow: row wrap;

}

.datos .prodName {

    flex: 50%;

}

.datos .prodName span {

    padding: var(--space-s);
    font-weight: bold;

}

.datos .prodPrice {

    flex: 50%;
    text-align: center;

}

.datos .prodPrice div {

    transform: rotate(-20deg);
    margin: 0 auto;
    width: 80px;
    font-weight: bold;
    padding: var(--space-s);
    background-color: var(--orange);

}

.datos .compra {

    flex: 100%;
    padding: var(--space-m);

}

.compra .button {

    margin: 0 auto;
    display: table;

}

.products .item5 img{

    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: 0 100%;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.5);

}

.products .item9 img{

    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: 0 100%;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.5);

}

//Estilo del botón de carga

.loadBtn {

    text-align: center;
    padding: var(--space-l);

}

//Grid de la sección de productos que es cargada

.load {
    
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--space-l);
    width: 50%;
    margin: 0px auto;

}

.load .item5 {

    grid-column: 2 / span 2;

}

.load .item9 {

    grid-column: 1 / span 2;

}

//Estilo de la sección de productos que es cargada

.load img {

  object-fit: cover;
  width: 350px;
  height: 150px;
  margin: var(--space-m) 0px;

}

.load .item5 img{

    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: 0 100%;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.5);

}

.load .item9 img{

    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: 0 100%;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.5);

}

//Media queries

@media screen and (max-width: 1084px) {

    .datos .prodPrice div {

        transform: rotate(0deg);

    }

}

@media screen and (max-width: 800px) {

    .products {

        grid-gap: 0px;
        width: 100%;

    }

    .load {

        grid-gap: 0px;
        width: 100%;

    }

}
