.slider {

    position: relative;

}
.slider .slide {

    height: 600px;

}

.slider .slide img {

    height: 100%;
    width: 100%;
    object-fit: cover;

}

//CSS para el texto sobre las slides

.slider .slide .overText {

    position: absolute;
    top: 42%;
    left: 25%;

}

.slider .slide .overText h2 {

    background-color: var(--orange);
    color: var(--white);
    padding: var(--space-s);
    text-transform: uppercase;

}

.slider .slide .overText2 {

    position: absolute;
    top: 42%;
    right: 25%;
    text-align: right;

}

.slider .slide .overText2 h2 {

    background-color: var(--orange);
    color: var(--white);
    padding: var(--space-s);
    text-transform: uppercase;

}

//Animación imágenes del slider

.fade {
	-webkit-animation: fade 1.5s ease-in both;
	        animation: fade 1.5s ease-in both;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//Botones del slider

.buttons {

    position: absolute;
    top: 42%;
    width: 100%;

}

.next {

    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 50px;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    color: var(--white);

}

.prev {

    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 50px;
    text-align: center;
    border-radius: 0px 15px 15px 0px;
    color: var(--white);

}

.next:hover, .prev:hover {

    background-color: var(--orange);
    transition: background-color 500ms linear;

}
